@import '../variables.scss';
@import '../functions.scss';

$padding-v: 16;
$padding-h: 14;

/* Add a black background color to the top navigation */
.topnav {
  background-color: $blue-color;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: $white-color;
  text-align: center;
  padding: calculateSizeVW($padding-h) calculateSizeVW($padding-v);
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: $light-gray-color;
  color: $black-color;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: $white-color;
  color: $black-color;
  font-weight: bold;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

@media screen and (min-width: calculateSizePX($min-height-screen)) and (hover: hover) and (pointer: fine) {
  .topnav a {
    padding: calculateSizePX($padding-h) calculateSizePX($padding-v);
  }
}
